[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
relycomply-client = "*"
python-dotenv = "*"
pycountry = "*"

[dev-packages]

[requires]
python_version = "3.9"
